/* Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');
/*Colors:
#0C0907
#C7A897
#86877B
#635245
#287B82 
*/
/* CSS Variables */
:root {
    --primary-color:  #86877B; 
    --secondary-color: #C7A897; 
    --highlight-color: #287B82 ; 
    --highlight-color-brown: #635245; 
    --background-color: #0C0907;
}
nav {
    background-color: var(--background-color);
    color: var(--secondary-color);
    padding: 1rem;
    text-align: center;
}
body {
   background-image: src("..assets\images\hero.webp") center top fixed no-repeat; 
   padding-top: 77px; 
   background-color: var(--background-color); 
   color: var(--primary-color);
}
h1 {
    text-align: center;
    color: var(--secondary-color);
}
footer {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
}
#hero {
    max-height: 400px;
    width: 100%;
    object-fit:cover;
}